{% set title="刺我啊笨蛋 -- 煞氣A海上梟雄" %}

{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-9">
    <h1 class="page-header">刺我啊笨蛋 -- 煞氣A海上梟雄</h1>
    <h2 id="i1">活動緣起</h2>
    <p>
      「刺我啊笨蛋 -- 煞氣A海上梟雄」是由DIT robotics團隊所推動的教育性競賽，主要是將動手做融入至良性的團隊競爭間，藉由競賽可以讓大家更願意去投注心力做研發！<br>
      身為學生團隊的我們深知大家雖然抱持著Maker的熱誠，卻苦於沒有一個舞台可以發揮，因此我們推出這個比賽，希望不管生手或是玩家皆能夠參與，我們將藉由免費的基礎教育課程帶領各位進到這動手製作的領域！！
    </p>
    <p>
      在此也希望參賽隊伍比賽過程中能夠多多交流，畢竟這比賽的最終目的是製作中學習，而不是去爭奪那第一名的虛名！
    </p>

    <h2 id="i2">活動目的</h2>
    <p>
      近年來，隨著科技日新月異，以及網路資源逐漸普及，動手做這個概念已經不再是幻想，為了增進同學們的實作能力以及團隊合作，並且使暑假生活更加充實，DIT robotics團隊特別制定一個輕鬆的競賽來讓大家熟悉Arduino的操作以及基礎機構設計，希望藉由這次競賽激發出同學們更多實作的熱情。
    </p>


    <h2 id="i3">主辦單位</h2>
    <p>清華大學動機系 DIT robotics</p>

    <h2 id="i4">協辦單位</h2>
    <p><a href="http://www.makerfairehsinchu.org/">Mini Maker Faire Hsinchu（新竹）</a></p>
    <p><a href="http://www.weschool.tw/">WeSchool 微創工坊</a></p>


    <h2 id="i5">活動說明</h2>
    <h3>競賽主題</h3>
    <p>本次競賽內容為水上競技，將由兩組參賽隊伍遙控水上機器人進行對戰，目標是將對方機體上黏貼之３顆氣球戳破，以達成勝利。<br>
    </p>
    <p>本比賽最核心能力為提升機體機動性以及操控性，請著重此方向進行開發。</p>
    <h3>開發平台</h3>
    <p>參賽隊伍必須使用Arduino mini pro進行程式開發，不得另外使用具有CPU之晶片主控，可依需求額外增加使用的功能晶片。<br>
    </p>
    <h3>提供資源</h3>
    <p>
      為了突破競賽門檻，本比賽將開設幾門初學課程以教授Arduino的開發環境，以及官方所提供之晶片使用教學，另外也會教授如何使用Autodesk Inventor 2015繪製基礎CAD圖。
    </p>

    <h2 id="i6">活動時間</h2>
    <dl>
      <dt>報名期限</dt><dd>即日起至8/15為止。</dd>
      <dt>教育課程</dt><dd>"早鳥"課程定於7/22(三)整日，一般課程訂於8月中旬，皆於工程一館209室，如果時間有變動，將會發e-mail給所有報名隊伍。<br>※兩個課程內容相似，擇一參加即可。</dd>
      <dt>初審時間</dt><dd>8/15~8/20(四)之間繳交一份300字以內設計概念報告，初審結果將於8/23(日)前mail給各組別，繪圖手法不拘，以能表達設計之文字及圖片為重點。</dd>
      <dt>先行賽時間(教育訓練賽)</dt><dd>開學前一天周日，9/13(日) 早上9:00於工程一館2F室外小廣場。(學生組必須參加)</dd>
      <dt>Maker Faire 決賽時間</dt><dd>於Mini Maker Faire Hsinchu當天舉辦，10/3(六)下午2:00，地點訂於工程一館2F室外小廣場。</dd>
      <dt>頒獎時間</dt><dd>皆於競賽當天結束後頒獎。</dd>
    </dl>

    <h2 id="i7">參賽資格與限制</h2>
    <ul>
      <li>參加先行賽者需具備學生身分，不限制學校系所；Maker Faire 加賽則不限學生或社會人士參賽。</li>
      <li>每隊由1~3人參加報名。</li>
      <li>直至8/20前，可修改參賽名單1名，不可修改隊伍代表人。</li>
      <li>參賽者不得同時參加兩個或兩個以上之隊伍。</li>
    </ul>

    <h2 id="i8">報名方式</h2>
    <p>本競賽採取網路報名制，於截止期限8/15晚上12:00前收件方為報名成功，報名成功後會收到人工審核之確認信，如未收到請聯絡DIT粉絲專頁，我們將會立刻為您處理。</p>
    <p><a href="https://docs.google.com/forms/d/1DEYCnJFvPV0qT3tD16TiVKDeOjQW4UyS69jVKLpave8/viewform">點我填寫報名表</a></p>

    <h2 id="i9">報名費用</h2>
    <p>競賽於報名時將酌收材料費每組NT400元，以及押金每組NT200元，共計NT 600，若有前來參加"早鳥"教育訓練將補助部分材料費NT200，押金部分將於競賽當日退還。</p>
    <p>※報名費用以及材料領取時間皆為訓練課程現場，如果無法前來，請聯繫我們以進行補繳補領作業。</p>

    <h2 id="i10">訓練課程</h2>
    <p>本競賽於7/22(三)以及8/23(日)提供一日課程讓參賽隊伍學習製作平台。</p>
    <ul>
      <li>前導課程(1Hr)</li>
      <li>Arduino基礎教學課程(1~2Hr)</li>
      <li>無線通訊及馬達驅動基礎開發(2Hr)</li>
      <li>Inventor 2015 教育訓練課程(2Hr)</li>
    </ul>
    <p>※午餐不供應，不強制參賽隊伍參加教育訓練課程。</p>

    <h2 id="i11">競賽詳細規則</h2>
    <h3>規章</h3>
    <p>比賽開始前將機體放置於兩方檢錄區，由官方黏著3顆氣球，氣球不可被包覆、蓋住以及對氣球本身做強化，且須黏於機體最外側，氣球高度為部分碰觸水面。</p>
    <h3>獲勝條件</h3>
    <p>將敵方機器人身上的氣球全數戳破(氣球為檢錄時，官方黏著之3顆氣球)</p>
    <p>---7/14新增規則</p>
    <p>一場比賽時間為三分鐘，時間到後由得分最多者獲勝，<br>若平手則進入延長戰，先得分者先贏，最多加賽二分鐘，<br>如果五分鐘皆未分出勝負，將由整場比賽最先累積戳破氣球到最高者獲勝，((也就是後來追上導致平手的敗<br>最後，整場比賽皆沒人攻擊成功，全部人淘汰。</p>
    <h3>場地</h3>
    <p>本次競賽場地設定為，長3M寬2M深0.2M的水池。</p>
    <h3>機器</h3>
    <p><del>機器檢錄以皮尺量測黏著氣球前最大外徑為70cm以下，比賽中展開最大不得超過90cm，若比賽進行至一半被投訴，主辦方將有權暫停比賽以測量外徑。</del></p>
    <p>---於8/23經由參賽者表決修改此條目---</p>
    <p>機器檢錄以皮尺量測黏著氣球前最大外徑為100cm以下，比賽中展開最大不得超過120cm，若比賽進行至一半被投訴，主辦方將有權暫停比賽以測量外徑。</p>
    <h3>武器</h3>
    <p>
      不可通電之尖銳物，其餘如針、牙籤、叉子、竹籤等符合規則的武器皆可，唯長度任何時刻不可突出載具超過8cm，且機台只能具備一個武器，如果使用外殼當攻擊武器，外殼將限制只能有一個有效尖角。(其餘尖角若可以輕易刺破氣球，將無法通過檢錄)。
      若使用投射型武器，機體只能使用一座砲塔，且禁止使用近戰作攻擊手段，最高攜彈量為7發(回收武器不在此限)。
    </p>
    <p>---7/23更新規則</p>
    <p>若武器為一個弧面刃(彎刀、弧刃、鋸片，唯弧長不可超過8cm)</p>
    <h3>限制</h3>
    <ul>
      <li>絕對不可以任何形式傷及人體，違者失格。</li>
      <li>不可使用光束類武器。</li>
      <li>不可使用火及火器。</li>
      <li>不可使用化學類武器。</li>
      <li>不可用武器外之機體部分戳氣球。</li>
      <li>不可刻意設計阻撓機構防止敵方接近機體(例如木棒阻礙敵機靠近)。</li>
      <li>機器於水中操作時不可觸地，若觸地將判失去比賽資格。</li>
      <li>比賽過程中不可分離並殘留部分機體，違者失格，投射型武器可以使用。</li>
      <li>若比賽過程中機體出現下沉進水，裁判可經由詢問後拿起機器，遭拿起者失格。</li>
      <li>若比賽過程中參賽隊伍成員碰觸運作中機器，直接失格。</li>
      <li>比賽過程中機器出現毀損場地，以及惡意破壞他人機器者，裁判可不經由詢問直接拿起機器，並判失格。</li>
      <li style="text-decoration:none; color:white;">魔王機不在此限。</li>
    </ul>

    <h3>官方材料組合</h3>
    <ul>
      <li>Arduino mini pro 主控晶片   *1</li>
      <li>USB 轉TTL下載器 *1</li>
      <li>HC-05藍芽通訊晶片 *1</li>
      <li>TI DRV8837 馬達驅動模組   *1</li>
      <li>小馬達 *1</li>
      <li>Mg90s 伺服馬達  *1</li>
      <li>40mm 小型槳葉   *1</li>
      <li>麵包版 *1</li>
      <li>電池盒及電池  一組</li>
      <li>基本製作材料  一組</li>
    </ul>

    <h3>獎勵方式</h3>
    <p>先行賽獎品</p>
    <ul>
      <li>冠軍：給予冠軍獎狀乙份，動機系紀念後背包每人乙份，以及DIT紀念品每人乙份。</li>
      <li>亞軍：給予亞軍獎狀乙份，動機系紀念馬克杯每人乙份。</li>
      <li>最具創意獎：給予獎狀乙份。</li>
    </ul>
    <p>Maker Faire 加賽</p>
    <ul>
      <li>冠軍：給予冠軍獎狀乙份，Maker Faire 紀念T-shirt每人乙件。</li>
      <li>亞軍：給予亞軍獎狀乙份，DIT紀念品每人乙份。</li>
      <li>最具創意獎：給予獎狀乙份。</li>
    </ul>
    <p>最具創意獎將會於比賽當日進行公開投票。</p>

    <h2 id="i12">注意事項</h2>
    <p>
      參賽作品若經檢舉為他人代勞或涉及任何違反本競賽規定之行為，經查證屬實或有具體事實者，主辦單位有權取消該隊伍參賽資格。如該項作品已獲得本競賽獎項，主辦單位有權追回原授予之榮譽及獎勵。
    </p>
    <p>
      參賽作品若經檢舉或告發其涉及著作權、專利權或任何法律規範之權利，參賽隊伍將自行負擔相關責任。侵權行為一旦經法院判決屬實，主辦單位將取消該隊伍之參賽資格。如該項作品已獲得本競賽獎項，主辦單位有權追回原授予之榮譽及獎勵。
    </p>
    <p>
      參賽作品之智慧財產權（含著作權、商標權、專利權、工業設計、積體電路布局（IC）、鄰接權...等相關權利）歸屬該參賽隊伍所有，然主辦單位享有以原著 作者名義發表該項作品之權利。
    </p>
    <p>
      凡有關競賽評選及審查範圍，參加隊伍須尊重本競賽之評選委員會決議結果，若無法提出具體證明作為複查依據，則不得提出異議。
    </p>
    <p>
      活動辦法如有未盡事宜，主辦單位得隨時修正，相關訊息將於活動官方網站公告，不另行通知。
    </p>
    <h2 id="i13">聯繫資訊</h2>
    <p>
      有任何疑問歡迎直接私訊<a href="https://www.facebook.com/DIT.robotics">DIT粉絲專頁</a><br>
      或是e-mail給我們做詢問 <code>nthu.dit@gmail.com</code><br>
      如有想要找人討論設計部分，或是需要製作建議，非常歡迎直接前來工程一館314室與我們成員交流聊天喔 :D
    </p>
  </div>
  <div class="col-sm-3 hidden-xs">
    <div data-spy="affix" data-offset-top="50" style="position-y:absolute; padding-top:50px">
      <ul class="nav nav-pills nav-stacked small">
        <li><a href="#i1">活動緣起</a></li>
        <li><a href="#i2">活動目的</a></li>
        <li><a href="#i3">主辦單位</a></li>
        <li><a href="#i4">協辦單位</a></li>
        <li><a href="#i5">活動說明</a></li>
        <li><a href="#i6">活動時間</a></li>
        <li><a href="#i7">參賽資格與限制</a></li>
        <li><a href="#i8">報名方式</a></li>
        <li><a href="#i9">報名費用</a></li>
        <li><a href="#i10">訓練課程</a></li>
        <li><a href="#i11">競賽詳細規則</a></li>
        <li><a href="#i12">注意事項</a></li>
        <li><a href="#i13">聯繫資訊</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
