{% macro navli(ahref, display, active=none) %}
{% if active is none %}{% set active = request.path == ahref %}{% endif %}
<li{% if active %} class="active"{% endif %}><a href="{{ ahref }}">{{ display }}</a></li>
{% endmacro %}

{% macro navlif(ahref, display, active=none) %}
{{ navli(url_for(ahref), display, active) }}
{% endmacro %}

<nav class="navbar navbar-default navbar-fixed-top navbar-transparent" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index' )}}"><img alt="DIT Robotics" src="{{ url_for('static', filename='DIT_logo_2.png') }}" height="21px"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {{ navlif('contests', 'Contests') }}
      </ul>
    </div>
  </div>
</nav>
